<div>
    <h1>Сatalogue</h1>
    <div class = 'category-buttons'>
      <label for="category">Choose Category:</label>
      <select id="category" (change) = "selectCategory($event)">
        <option *ngFor = "let category of categories" [value]="category">
          {{category}}
        </option>
      </select>
    </div>
  
    <div class="products-container">
      <div *ngFor="let product of getfilteredProducts()" class="product-card">
        <img class = 'product-image' [src]="product.image" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p> {{ product.rating }}</p>
        <p>👍 {{product.likes}}</p>
  
        <a [href]="'/product-details/' + product.id" target="_blank">Подробнее</a>

        <button (click) = "likeProduct(product.id)">Like</button>
        <button (click) = "removeProduct(product.id)">🗑 Удалить</button>
      
        <div class = 'share-buttons'>
          <button (click)="share(product.link)">Share</button>
        </div>
      </div>
    </div>
  </div>