body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    gap: 10px;
}

.input-container input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

li input {
    width: 25px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    background: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

li span {
    text-align: center;
    display: flex;
    align-items: center;
}

li input[type="checkbox"] {
    margin-right: 10px;
}


.completed {
    text-decoration: line-through;
    color: gray;
}
